# dependencies
node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

#firebase credential
Config.txt
cisc4900-b8e82-firebase-adminsdk-28t26-62d5d5cfbb.json
to-do-list.txt