/*
*File name: Home.css
*styling for the home page
*/
.Home {
  background: url('../../images/bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lander {
  background:rgba(255,255,255,0.5);
  width: 100vw;
}

.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.lander p {
  color: black;
}

.button {
  text-decoration: none !important;
  display: inline-block;
  background-color: lightcyan;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.button:hover{
  background-color: lightsteelblue;
}